@model QuickRMS.Site.Models.Device.HistoryInfo1Model
<div class="widget-box" style=" width: 100%;">
  
    <div class="widget-content">
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Time) :<label class="nopadding">@Model.Time</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.WorkMode) :<label class="nopadding">@Model.WorkMode</label></div>


        </div>
       
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Out) :<label class="nopadding">@Model.Out</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Sup2) :<label class="nopadding">@Model.Sup2</label></div>


        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Sup1) :<label class="nopadding">@Model.Sup1</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Back2) :<label class="nopadding">@Model.Back2</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Back1) :<label class="nopadding">@Model.Back1</label>
            </div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Fix2) :<label class="nopadding">@Model.Fix2</label>
            </div>


        </div>


        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Fix1) :<label class="nopadding">@Model.Fix1</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Min1) :<label class="nopadding">@Model.Min1</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Max1) :<label class="nopadding">@Model.Max1</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Min2) :<label class="nopadding">@Model.Min2</label></div>


        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Max2) :<label class="nopadding">@Model.Max2</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.AInterval) :<label class="nopadding">@Model.AInterval</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">
                @Html.DisplayNameFor(t => t.BInterval) :<label class="nopadding">@Model.BInterval</label>
            </div>


            <div class="col-lg-6  no-right-padding">
                @Html.DisplayNameFor(t => t.AStep1) :<label class="nopadding">@Model.AStep1</label>
            </div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.AStep2) :<label class="nopadding">@Model.AStep2</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.AStep3) :<label class="nopadding">@Model.AStep3</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.AStep4) :<label class="nopadding">@Model.AStep4</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.AStep5) :<label class="nopadding">@Model.AStep5</label></div>


        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.BStep1) :<label class="nopadding">@Model.BStep1</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.BStep2) :<label class="nopadding">@Model.BStep2</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.BStep3) :<label class="nopadding">@Model.BStep3</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.BStep4) :<label class="nopadding">@Model.BStep4</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.BStep5) :<label class="nopadding">@Model.BStep5</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.ASteer) :<label class="nopadding">@Model.ASteer</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.BSteer) :<label class="nopadding">@Model.BSteer</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Wire) :<label class="nopadding">@Model.Wire</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Save) :<label class="nopadding">@Model.Save</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.CtrlNumber) :<label class="nopadding">@Model.CtrlNumber</label></div>


        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.AMaxStep) :<label class="nopadding">@Model.AMaxStep</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.BMaxStep) :<label class="nopadding">@Model.BMaxStep</label></div>


        </div>

    </div>
</div>


