@model QuickRMS.Site.Models.Device.DeviceMapViewModel
@{
    var Device = Model.Device;
    var Datas = Model.DeviceData;
}
<div class="widget-box" style=" width: 360px;">
    <div class="widget-title">
        <span class="icon"><i class="icon-list"></i></span>
        <h5>设备信息</h5>
    </div>
    <div class="widget-content">
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">ID：<label class="nopadding">@Device.DeviceCode</label></div>
            

            <div class="col-lg-6  no-right-padding">名称：<label class="nopadding">@Device.DeviceName</label></div>
          

        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">所属区域：<label class="nopadding">@Device.Area.Name</label></div>
            
            <div class="col-lg-6  no-right-padding">所属公司：<label class="nopadding">@Device.Company</label></div>
           
        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">更新时间：<label class="nopadding">@Datas.DataTime</label></div>
           
            <div class="col-lg-6  no-right-padding">备注：<label class="nopadding">@Device.Memo</label></div>
           
        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">当前状态：<label class="nopadding">@Device.IsOnline?"在线":"离线"</label></div>
            <div class="col-lg-6  no-right-padding">安装位置：<label class="nopadding">@Device.Address</label></div>
          

        </div>

    </div>
</div>

<div class="widget-box" style=" width: 360px;">
    <div class="widget-title">
        <span class="icon"><i class="icon-list"></i></span>
        <h5>运行状态</h5>
    </div>
    <div class="widget-content">
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">室外：<label class="nopadding">@Device.OutdoorFix</label></div>
           
            <div class="col-lg-6  no-right-padding">供水1：<label class="nopadding">@Device.SupplyWaterFix1</label></div>
            
        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">回水1：<label class="nopadding">@Device.BackFix1</label></div>
           
            <div class="col-lg-6  no-right-padding">热源1：<label class="nopadding">@Device.FixWater1</label></div>
            
        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">供水2：<label class="nopadding">@Device.SupplyWaterFix2</label></div>
           
            <div class="col-lg-6  no-right-padding">回水2：<label class="nopadding">@Device.BackFix2</label></div>
            
        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">热源2：<label class="nopadding">@Device.FixWater2</label></div>
           
      
        </div>

    </div>
</div>


