@{
    ViewBag.Title = ViewBag.CurrentTitle + "";

}
@section css{
    @Styles.Render("~/bundles/css/jqueryui")
}

<div id="content-body" class="row">
    <div class="col-lg-3">
        @Html.Partial("_AreaDeviceTree")

    </div>
    <div class="col-lg-9">

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#SystemState" aria-controls="home" role="tab" data-toggle="tab">系统状态</a></li>
                <li role="presentation"><a href="#TimePeriodSetting" aria-controls="profile" role="tab" data-toggle="tab">时间段设置</a></li>
                <li role="presentation"><a href="#ModeSetting" aria-controls="messages" role="tab" data-toggle="tab">模式设置</a></li>
                <li role="presentation"><a href="#ValveSetting" aria-controls="settings" role="tab" data-toggle="tab">阀门设置</a></li>
                <li role="presentation"><a href="#TemperatureSetting" aria-controls="messages" role="tab" data-toggle="tab">温度修正</a></li>
                <li role="presentation"><a href="#TerminalSetting" aria-controls="settings" role="tab" data-toggle="tab">终端维护</a></li>
                <li role="presentation"><a href="#DeviceMapView" aria-controls="settings" role="tab" data-toggle="tab">设备地图</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="SystemState">


                    <form class="form-inline">
                        <div class="widget-box">

                            <div class="widget-content">
                                <div class="row">

                                    <div id="currentTime" class="col-lg-2"></div>
                                    <div class="col-lg-2">
                                        <input id="btnSyncTime" class="btn btn-default" onclick="btnSyncTimeFunc(this)" disabled="disabled" type="button" value="同步时间（T）" />
                                    </div>

                                    <div class="col-lg-8 text-success">
                                            <label>设备地区天气：</label><label id="currentWeather"></label>
                                        </div>
                                </div>

                            </div>
                        </div>


                        <div class="widget-box">

                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-lg-1 form-ctrl-7 no-right-padding">室外温度：</div>
                                    <div id="lblOutdoor" class="col-lg-1 nopadding value-box"></div>
                                    <div class="col-lg-1 nopadding">℃</div>
                                    <div class="col-lg-7">
                                        <input id="btnUpdateData" class="btn btn-default" disabled="disabled" style="" onclick="btnUpdateOutTemDataFunc(this)" type="button" value="立即更新" />
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-list"></i></span>
                                <h5>A路系统</h5>
                            </div>
                            <div class="widget-content">
                                <div class="row show-grid">

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">外网供水温度：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblSup1"></div>
                                    <div class="col-lg-1 nopadding">℃</div>

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">外网回水温度：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblBack1"></div>
                                    <div class="col-lg-1 nopadding">℃</div>

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">热源出水温度：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblFix1"></div>
                                    <div class="col-lg-1 nopadding">℃</div>


                                </div>

                                <div class="row">

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">阀门开度比例：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblValve1"></div>
                                    <div class="col-lg-1 nopadding">%</div>

                                    <div class="col-lg-2" style="width: 8em">水网1状态：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblState1"></div>
                                    <div class="col-lg-5">                                      
                                        <label class="label label-default" id="lblAutoWorkMode1">自动</label>
                                        <label class="label label-default" id="lblMaunalWorkMode1">手动</label>
                                        <label class="label label-default" id="lblCycle1">曲线</label>
                                        <label class="label label-default" id="lblTime1">时间</label>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-list"></i></span>
                                <h5>B路系统</h5>
                            </div>
                            <div class="widget-content">
                                <div class="row show-grid">

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">外网供水温度：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblSup2"></div>
                                    <div class="col-lg-1 nopadding">℃</div>

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">外网回水温度：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblBack2"></div>
                                    <div class="col-lg-1 nopadding">℃</div>

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">热源出水温度：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblFix2"></div>
                                    <div class="col-lg-1 nopadding">℃</div>


                                </div>

                                <div class="row">

                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">阀门开度比例：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblValve2"></div>
                                    <div class="col-lg-1 nopadding">℃</div>

                                    <div class="col-lg-2" style="width: 8em">水网1状态：</div>
                                    <div class="col-lg-1 nopadding value-box" id="lblState2"></div>
                                    <div class="col-lg-5">
                                        <label class="label label-default" id="lblAutoWorkMode2">自动</label>
                                        <label class="label label-default" id="lblManualWorkMode2">手动</label>
                                        <label class="label label-default" id="lblCycle2">曲线</label>
                                        <label class="label label-default" id="lblTime2">时间</label>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="widget-box">

                            <div class="widget-content">
                                <div class="row">

                                    <div class="col-lg-2 form-ctrl-7 no-right-padding">操作模式：</div>
                                    <div class="col-lg-2">
                                        <label class="label label-default" id="lblWorkState1">日常</label>
                                        <label class="label label-default" id="lblWorkState2">假日</label>
                                    </div>
                                    <div class="col-lg-2 form-ctrl-7 no-right-padding">
                                        <div style="display:none">是否校阀：</div>
                                    </div>
                                    <div class="col-lg-1" >
                                        <div id="lblCheckValve" style="display:none">无校阀</div>
                                    </div>
                                    <div class="col-lg-2 form-ctrl-9 no-right-padding">阀门控制路数：</div>
                                    <div class="col-lg-2" id="lblControlChannel">
                                        A通路
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>



                </div>
                <div role="tabpanel" class="tab-pane" id="TimePeriodSetting">
                    <div class="row">
                        <div class="col-lg-12">

                            <form class="form-inline">
                                <div class="">
                                    <div class="col-lg-5">
                                        <div class="row">
                                            <div class="widget-box">

                                                <div class="widget-box">
                                                    <div class="widget-title">
                                                        <span class="icon"><i class="icon-list"></i></span>
                                                        <h5>模式设置</h5>
                                                    </div>
                                                    <div class="widget-content">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="rdoTimePeriodMode" id="qx" checked="checked" value="1"> 工作
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="rdoTimePeriodMode" id="sd" value="6"> 周六
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="rdoTimePeriodMode" id="zr" value="7"> 周日
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="rdoTimePeriodMode" id="jr" value="0"> 假日
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="widget-box">

                                                <div class="widget-box">
                                                    <div class="widget-title">
                                                        <span class="icon"><i class="icon-list"></i></span>
                                                        <h5>时间段列表</h5>
                                                    </div>
                                                    <div class="widget-content" style="height: 368px; overflow: auto;">
                                                        <div class="row" style="margin-bottom: 15px; display: block;">
                                                            <div class="col-lg-4 col-lg-offset-8">
                                                                <input type="button" class="btn btn-success" id="btnUpdateTimeSpan" onclick="btnUpdateTimeSpanFunc(this)" value="从终端更新" />
                                                            </div>
                                                        </div>
                                                        <table class="table table-bordered" id="timeSpanTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>上限</th>
                                                                    <th>下限</th>
                                                                    <th>曲线号</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6" style="margin-left: 10px;">
                                        <div class="row">
                                            <div class="widget-box">

                                                <div class="widget-box">
                                                    <div class="widget-title">
                                                        <span class="icon"><i class="icon-list"></i></span>
                                                        <h5>详细信息</h5>
                                                    </div>
                                                    <div class="widget-content">
                                                        <div class="form-group">
                                                            <label class="">时间段上限：</label>
                                                            <input class="form-control form-ctrl-6" id="topPeriod" name="topPeriod" type="text">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="">时间段下限：</label>
                                                            <input class="form-control form-ctrl-6" id="bottomPeriod" name="bottomPeriod" type="text">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="">曲线：</label>
                                                            <select class="form-control" id="DeviceCurLibraryList" style="width: 110px;"></select>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="widget-box">

                                                <div class="widget-box">

                                                    <div class="widget-content">
                                                        <div id="qxchart" style="width: 100%; height: 300px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">时段控制：</label>
                                        <label class="control-label">曲线1（开）曲线2（关）</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="btn btn-default" type="button" onclick="btnAddSpanFunc(this)" id="btnAddSpan" value="添加">
                                        <input class="btn btn-default" type="button" onclick="btnSaveSpanFunc(this)" id="btnSaveSpan" value="保存">
                                        <input class="btn btn-default" type="button" onclick="btnDeleteSpanFunc(this)" id="btnDeleteSpan" value="删除">
                                        <input class="btn btn-default" type="button" onclick="btnSetTimeSpanFunc(this)" id="btnSetSpan" value="保存并下发">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ModeSetting">
                    <form class="form-inline" id="ModeSettingForm">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-list"></i></span>
                                <h5>选择模式</h5>
                            </div>

                            <div class="widget-content contentArea">

                                <div class="row">

                                    <div class="col-lg-3 col-lg-offset-1 modeTypeRow">
                                        <div class="container-01">
                                            <label class="radio-inline">
                                                <input type="radio" name="valve" value="A" checked> A阀门
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="valve" value="B"> B阀门
                                            </label>
                                        </div>
                                        <div class="container-01">
                                            <label class="radio-inline">
                                                <input type="radio" name="workby" value="0" checked> 曲线
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="workby" value="1"> 时段
                                            </label>
                                        </div>
                                        <div>
                                            <div>
                                                <label class="radio">
                                                    <input type="radio" name="workmodel" value="0" checked>
                                                    手动模式
                                                </label>
                                            </div>
                                            <div>
                                                <label class="radio">
                                                    <input type="radio" name="workmodel" value="1">
                                                    工作5天+周六日
                                                </label>
                                            </div>

                                            <div>
                                                <label class="radio">
                                                    <input type="radio" name="workmodel" value="2">
                                                    工作6天+周日
                                                </label>
                                            </div>

                                            <div>
                                                <label class="radio">
                                                    <input type="radio" name="workmodel" value="3">
                                                    工作7天
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 modeSetContainer">
                                        <div class="row rowWidth">
                                            <div class="col-lg-3">
                                                <label class="radio-inline">
                                                    <input type="button" id="btnOpenFull" class="btn btn-primary" value="阀门全开"/>
                                                </label>
                                            </div>
                                            <div class="col-lg-3">
                                                <label class="radio-inline">
                                                    <input type="button" id="btnCloseFull" class="btn btn-danger" value="阀门全关" />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row rowWidth">
                                            <label class="control-label">设置:</label>
                                            <input type="text" class="form-control  data-inputbox" id="txtValveOpenValue" />
                                            <label class="control-label">% </label>
                                            <input type="button" class="btn btn-default" value="运行">
                                        </div>

                                        <div class="row rowWidth">
                                            <label class="control-label">当前:</label>
                                            <label class="control-label data-inputbox" id="lblCurrentValveValue"></label>
                                            <label class="control-label">% </label>
                                            <input type="button" class="btn btn-default" value="更新">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">
                                        @*<input class="btn btn-default" type="button" onclick="btnUpdateWorkModeFunc(this)" value="更新">*@
                                        <input class="btn btn-primary" type="button" onclick="btnUpdateDataFunc(this)" id="btnUpdateCS" value="更新">
                                        <input class="btn btn-primary" type="button" onclick="btnSaveAndSendFunc(this)" value="保存并下发">
                                        @*<input class="btn btn-default" type="button" onclick="btnSaveWorkModeFunc(this)" value="保存">
                                        <input class="btn btn-default" type="button" onclick="btnSetWorkModeFunc(this)" value="下发">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="ValveSetting">
                    <div>

                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-list"></i></span>
                                <h5>阀门设置</h5>
                            </div>

                            <div class="widget-content contentArea">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#routeA" aria-controls="home" role="tab" data-toggle="tab">A通路</a></li>
                                    <li role="presentation"><a href="#routeB" aria-controls="profile" role="tab" data-toggle="tab">B通路</a></li>

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">

                                    <div role="tabpanel" class="tab-pane active" id="routeA">
                                        <form class="form-inline">
                                            <div class="row">
                                                <fieldset>
                                                    <legend>转向选择</legend>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="rdoAsteering" value="0"> 正转
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="rdoAsteering" value="1"> 反转
                                                    </label>
                                                </fieldset>
                                            </div>



                                            <div class="row">

                                                <fieldset>
                                                    <legend>阀门设置</legend>

                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <fieldset>
                                                                <legend>步进微调</legend>
                                                                <div class="rowWidth">
                                                                    <label class="control-label">微调1：</label>                                                                   
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAStep1"> %  
                                                                    &nbsp;&nbsp;
                                                                    <label class="control-label">微调2：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAStep2"> %                                                                   
                                                                </div>
                                                                <div class="rowWidth">
                                                                    <label class="control-label">微调3：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAStep3"> %
                                                                    &nbsp;&nbsp;
                                                                    <label class="control-label">微调4：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAStep4"> %
                                                                </div>
                                                                <div class="rowWidth">
                                                                    <label class="control-label">微调5：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAStep5"> %
                                                                   
                                                                </div>
                                                              
                                                            </fieldset>

                                                          
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <fieldset>
                                                                <legend>最大开度</legend>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAMaxValue"> %
                                                                    </div>

                                                                </div>
                                                            </fieldset>

                                                            <fieldset>
                                                                <legend>最小关度</legend>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAMinValue"> %
                                                                    </div>

                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <fieldset>
                                                        <legend>调整步进量</legend>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAMaxStep"> %
                                                            </div>

                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-4">
                                                    <fieldset>
                                                        <legend>调整延时长度</legend>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control data-inputbox" tag="spinner" id="nuAInterval"> 秒
                                                            </div>

                                                        </div>
                                                    </fieldset>
                                                </div>

                                                <div class="col-lg-4">
                                                    <fieldset>
                                                        <legend>阀门控制路数</legend>

                                                        <select class="form-control" style="width: 140px;" id="cmbACtrlNumber">
                                                            <option value="1">A通路</option>
                                                            <option value="2">B通路</option>
                                                            <option value="3">A通路和B通路</option>
                                                        </select>

                                                    </fieldset>
                                                </div>
                                            </div>


                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-lg-4 col-lg-offset-8">
                                                    <input class="btn btn-primary" type="button" onclick="btnUpdateDataFunc(this)" value="更新">
                                                    <input class="btn btn-primary" type="button" onclick="btnSaveAndSendFunc(this)" value="保存并下发">

                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="routeB">
                                        <form class="form-inline">
                                            <div class="row">
                                                <fieldset>
                                                    <legend>转向选择</legend>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="rdoBsteering" value="0"> 正转
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="rdoBsteering" value="1"> 反转
                                                    </label>
                                                </fieldset>
                                            </div>



                                            <div class="row">

                                                <fieldset>
                                                    <legend>阀门设置</legend>


                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <fieldset>
                                                                <legend>步进微调</legend>
                                                                <div class="rowWidth">
                                                                    <label class="control-label">微调1：</label>
                                                                    <input type="text" class="form-control data-inputbox" id="nuBStep1"> %
                                                                    &nbsp;&nbsp;
                                                                    <label class="control-label">微调2：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBStep2"> %
                                                                </div>
                                                                <div class="rowWidth">
                                                                    <label class="control-label">微调3：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBStep3"> %
                                                                    &nbsp;&nbsp;
                                                                    <label class="control-label">微调4：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBStep4"> %
                                                                </div>
                                                                <div class="rowWidth">
                                                                    <label class="control-label">微调5：</label>
                                                                    <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBStep5"> %

                                                                </div>

                                                            </fieldset>


                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <fieldset>
                                                                <legend>最大开度</legend>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBMaxValue"> %
                                                                    </div>

                                                                </div>
                                                            </fieldset>

                                                            <fieldset>
                                                                <legend>最小关度</legend>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBMinValue"> %
                                                                    </div>

                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <fieldset>
                                                        <legend>调整步进量</legend>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBMaxStep"> %
                                                            </div>

                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-4">
                                                    <fieldset>
                                                        <legend>调整延时长度</legend>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control data-inputbox" tag="spinner" id="nuBInterval"> 秒
                                                            </div>

                                                        </div>
                                                    </fieldset>
                                                </div>

                                                <div class="col-lg-4">
                                                    <fieldset>
                                                        <legend>阀门控制路数</legend>


                                                        <select class="form-control" style="width: 140px;" id="cmbBCtrlNumber">
                                                            <option value="1">A通路</option>
                                                            <option value="2">B通路</option>
                                                            <option value="3">A通路和B通路</option>
                                                        </select>


                                                    </fieldset>
                                                </div>
                                            </div>


                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-lg-4 col-lg-offset-8">
                                                    <input class="btn btn-primary" type="button" onclick="btnUpdateDataFunc(this)" value="更新">
                                                    <input class="btn btn-primary" type="button" onclick="btnSaveAndSendFunc(this)" value="保存并下发">
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="TemperatureSetting">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon"><i class="icon-list"></i></span>
                                    <h5>温度修正</h5>
                                </div>
                                <div class="widget-content">

                                    <form class="form-inline contentArea">

                                        <div class="row" style="margin-bottom: 15px; padding: 0 150px;">
                                            <div class="col-lg-1">

                                            </div>
                                                <div class="col-lg-5">
                                                    <label class="">室外&nbsp;&nbsp;：</label>
                                                    <input type="text" class="form-control data-inputbox" id="nuOutdoor" />℃
                                                </div>
                                                <div class="col-lg-5">
                                                    <label class="control-label">定时&nbsp;&nbsp;：</label>
                                                    <input type="text" class="form-control data-inputbox" id="nuSaveInterval" />秒
                                                </div>
                                            <div class="col-lg-1">

                                            </div>
                                            </div>
                                        <div class="row" style="margin-bottom: 60px; padding: 0 150px;">
                                            <div class="col-lg-1">

                                            </div>
                                            <div class="col-lg-5">
                                                <label class="control-label">供水1：</label>
                                                <input type="text" class="form-control data-inputbox" id="nuSup1" />℃ 
                                            </div>
                                            <div class="col-lg-5">
                                                <label class="control-label">回水1：</label>
                                                <input type="text" class="form-control data-inputbox" id="nuBack1" />℃ 
                                            </div>
                                            <div class="col-lg-1">

                                            </div>
                                        </div>

                                        <div class="row" style="margin-bottom: 15px; padding: 0 150px;">
                                            <div class="col-lg-1">

                                            </div>
                                            <div class="col-lg-5">
                                                <label class="control-label">供水2：</label>
                                                <input type="text" class="form-control data-inputbox" id="nuSup2" />℃ 
                                            </div>
                                            <div class="col-lg-5">
                                                <label class="control-label">回水2：</label>
                                                <input type="text" class="form-control data-inputbox" id="nuBack2" />℃ 
                                            </div>
                                            <div class="col-lg-1">

                                            </div>
                                        </div>

                                        <div class="row" style="margin-bottom: 15px; padding: 0 150px;">
                                            <div class="col-lg-1">

                                            </div>
                                            <div class="col-lg-5">
                                                <label class="control-label">热源1：</label>
                                                <input type="text" class="form-control data-inputbox" id="nuFix1" />℃ 
                                            </div>
                                            <div class="col-lg-5">
                                                <label class="control-label">热源2：</label>
                                                <input type="text" class="form-control data-inputbox" id="nuFix2" />℃ 
                                            </div>
                                            <div class="col-lg-1">

                                            </div>
                                        </div>
                                        


                                        <div class="row" style="margin-top: 100px;">

                                            <div class="col-lg-4 col-lg-offset-6">
                                                <input class="btn btn-primary" type="button" onclick="btnUpdateDataFunc(this)" value="更新">
                                                <input class="btn btn-primary" type="button" onclick="btnSaveAndSendFunc(this)" value="保存并下发">
                                            </div>

                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="TerminalSetting">
                    <div>
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-list"></i></span>
                                <h5>终端维护</h5>
                            </div>
                            <div class="widget-content">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#lsjl" aria-controls="lsjl" role="tab" data-toggle="tab">历史记录</a></li>
                                    <li role="presentation"><a href="#zdgzwh" aria-controls="zdgzwh" role="tab" data-toggle="tab">终端故障维护</a></li>
                                    <li role="presentation"><a href="#qxkwh" aria-controls="qxkwh" role="tab" data-toggle="tab">曲线库维护</a></li>

                                </ul>


                                <div class="tab-content">

                                    <div role="tabpanel" class="tab-pane active" id="lsjl">
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <label>类型：</label>
                                                        <select class="form-control" id="cmbHistoryType">
                                                            <option value="-1">-请选择-</option>
                                                            <option value="0">正常记录</option>
                                                            <option value="1">参数修改记录</option>
                                                            <option value="2">模式曲线修改记录</option>
                                                            <option value="3">温度曲线修改记录</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>记录号：</label>
                                                        <input type="text" class="form-control" id="nuRowNumber">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="button" id="btnUpdateHistory" class="btn btn-primary" disabled="disabled" onclick="btnUpdateHistoryFunc(this)" value="更新" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <fieldset class="contentArea">
                                                    <legend>历史记录</legend>
                                                    <table id="historyList" class="table table-bordered table-hover response-table">
                                                        <thead>
                                                            <tr>
                                                                <td>行号</td>
                                                                <td>记录类型</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-6" id="infocontainer1">
                                                <fieldset class="contentArea">
                                                    <legend>详细信息</legend>
                                                    <div id="showinfo1"></div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="zdgzwh">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <fieldset class="contentArea">
                                                    <legend>历史信息</legend>
                                                    <table id="historyInfo" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>选择</th>
                                                                <th>维护时间</th>
                                                                <th>备注</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           
                                                        </tbody>
                                                    </table>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="contentArea">
                                                    <legend>详细信息</legend>
                                                    <form id="DeviceMaintenanceData">
                                                        <input type="hidden" name="mid" value="" />
                                                        <div class="form-group">
                                                            <label class="control-label">维护时间:</label>
                                                            <input class="form-control" data-type="datepicker" name="maintenanceDate" @*readonly="readonly"*@ @*value="@System.DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")"*@ />
                                                            @*<input id="mdate" data-type="datepicker" class="form-control" /> class="form-control hasDatepicker"*@
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label">备注:</label>
                                                            <textarea class="form-control" name="memo" ></textarea>

                                                        </div>
                                                    </form>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-6">

                                            </div>
                                            <div class="col-lg-6">
                                                @*<input class="btn btn-default" type="button" value="导出">*@
                                                <input class="btn btn-default" type="button" id="btnAddDM" value="添加">
                                                @*<input class="btn btn-default" type="button" value="编辑">*@
                                                <input class="btn btn-default" type="button" id="btnDeleteDM" onclick="btnDeleteDMFunc(this)" value="删除">
                                                <input class="btn btn-default" type="button" id="btnSaveDeviceMaintenance" value="保存">
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane contentArea" id="qxkwh">
                                        <div class="row" id="dcl" style="overflow: auto;">
                                            <div class="col-lg-12">
                                                <table class="table table-bordered" id="qxkTable" style="width:90%;height:400px" >
                                                    <thead>
                                                        <tr>
                                                            <th width="40px">曲线号</th>
                                                            <th width="40px">名称</th>
                                                            <th>-40</th>
                                                            <th>-39.5</th>
                                                            <th>-39</th>
                                                            <th>-38.5</th>
                                                            <th>-38</th>
                                                            <th>-37.5</th>
                                                            <th>-37</th>
                                                            <th>-36.5</th>
                                                            <th>-36</th>
                                                            <th>-35.5</th>
                                                            <th>-35</th>
                                                            <th>-34.5</th>
                                                            <th>-34</th>
                                                            <th>-33.5</th>
                                                            <th>-33</th>
                                                            <th>-32.5</th>
                                                            <th>-32</th>
                                                            <th>-31.5</th>
                                                            <th>-31</th>
                                                            <th>-30.5</th>
                                                            <th>-30</th>
                                                            <th>-29.5</th>
                                                            <th>-29</th>
                                                            <th>-28.5</th>
                                                            <th>-28</th>
                                                            <th>-27.5</th>
                                                            <th>-27</th>
                                                            <th>-26.5</th>
                                                            <th>-26</th>
                                                            <th>-25.5</th>
                                                            <th>-25</th>
                                                            <th>-24.5</th>
                                                            <th>-24</th>
                                                            <th>-23.5</th>
                                                            <th>-23</th>
                                                            <th>-22.5</th>
                                                            <th>-22</th>
                                                            <th>-21.5</th>
                                                            <th>-21</th>
                                                            <th>-20.5</th>
                                                            <th>-20</th>
                                                            <th>-19.5</th>
                                                            <th>-19</th>
                                                            <th>-18.5</th>
                                                            <th>-18</th>
                                                            <th>-17.5</th>
                                                            <th>-17</th>
                                                            <th>-16.5</th>
                                                            <th>-16</th>
                                                            <th>-15.5</th>
                                                            <th>-15</th>
                                                            <th>-14.5</th>
                                                            <th>-14</th>
                                                            <th>-13.5</th>
                                                            <th>-13</th>
                                                            <th>-12.5</th>
                                                            <th>-12</th>
                                                            <th>-11.5</th>
                                                            <th>-11</th>
                                                            <th>-10.5</th>
                                                            <th>-10</th>
                                                            <th>-9.5</th>
                                                            <th>-9</th>
                                                            <th>-8.5</th>
                                                            <th>-8</th>
                                                            <th>-7.5</th>
                                                            <th>-7</th>
                                                            <th>-6.5</th>
                                                            <th>-6</th>
                                                            <th>-5.5</th>
                                                            <th>-5</th>
                                                            <th>-4.5</th>
                                                            <th>-4</th>
                                                            <th>-3.5</th>
                                                            <th>-3</th>
                                                            <th>-2.5</th>
                                                            <th>-2</th>
                                                            <th>-1.5</th>
                                                            <th>-1</th>
                                                            <th>-0.5</th>
                                                            <th>0</th>
                                                            <th>0.5</th>
                                                            <th>1</th>
                                                            <th>1.5</th>
                                                            <th>2</th>
                                                            <th>2.5</th>
                                                            <th>3</th>
                                                            <th>3.5</th>
                                                            <th>4</th>
                                                            <th>4.5</th>
                                                            <th>5</th>
                                                            <th>5.5</th>
                                                            <th>6</th>
                                                            <th>6.5</th>
                                                            <th>7</th>
                                                            <th>7.5</th>
                                                            <th>8</th>
                                                            <th>8.5</th>
                                                            <th>9</th>
                                                            <th>9.5</th>
                                                            <th>10</th>
                                                            <th>10.5</th>
                                                            <th>11</th>
                                                            <th>11.5</th>
                                                            <th>12</th>
                                                            <th>12.5</th>
                                                            <th>13</th>
                                                            <th>13.5</th>
                                                            <th>14</th>
                                                            <th>14.5</th>
                                                            <th>15</th>
                                                            <th>15.5</th>
                                                            <th>16</th>
                                                            <th>16.5</th>
                                                            <th>17</th>
                                                            <th>17.5</th>
                                                            <th>18</th>
                                                            <th>18.5</th>
                                                            <th>19</th>
                                                            <th>19.5</th>
                                                            <th>20</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-6">
                                            </div>
                                            <div class="col-lg-6">
                                                <input class="btn btn-default" type="button" value="更新">
                                                <input class="btn btn-default" type="button" value="导入">
                                                <input class="btn btn-default" type="button" value="导出Excel">
                                                <input class="btn btn-default" type="button" value="删除">
                                                <input class="btn btn-default" type="button" value="保存">
                                                <input class="btn btn-default" type="button" value="保存并下发">
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="DeviceMapView">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-list"></i></span>
                            <h5>设备地图</h5>
                        </div>
                        <div class="widget-content">
                            <div class="row">
                                <div id="devicemap" style="height: 650px; width: 100%"></div>

                            </div>
                        </div>

                    </div>
                </div>

                </div>

        </div>

    </div>

</div>


@section scripts{
@Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FkNoQ2rrpBoTNF4v3KYPFfKZx5nHw8ke"></script>
    <script src="/Content/admin/js/devicemanage.js"></script>
    <script src="/Content/admin/js/devicemanagefunc.js"></script>
    <script type="text/javascript">
        var ServerTime = "@ViewBag.Now";
        $('a[data-toggle="tab"]').on('shown.bs.tab',
            function (e) {
                var href = e.target.href;
                var pos = href.indexOf("#");
                var tab = href.substr(pos + 1).toLowerCase();
                switch (tab) {
                    case "timeperiodsetting":
                        initTimePeriodSetting();
                        break;
                    case "systemstate":
                        initSystemState();
                        break;

                    case "modesetting":
                        initModeSetting();
                        break;
                    case "valvesetting":
                        initValveSetting();
                        break;
                    case "temperaturesetting":
                        initTemperatureSetting();
                        break;

                    case "terminalsetting":
                        initTerminalSetting();
                        break;
                    case "devicemapview":
                        iniDeviceMap();
                        break;
                    default:
                }
                //更新
                if (Qrms.currentdNode && (typeof Qrms.updatePageData) == "function") {
                    Qrms.updatePageData(Qrms.currentdNode);
                }
            });
        initGlobe(window);
        initSystemState();
        initEvent();
    </script>
<script type="text/javascript">

   
</script>

}
