@*@model List<QuickRMS.Domain.Models.DeviceInfo.DeviceCureLibrary>*@
@model List<QuickRMS.Site.Models.Device.DeviceCureLibraryDataModel>
<table id="devicecurelist" class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>曲线号</td>
            <td>名称</td>
            @for (double i = -40; i <= 20;)
        {
                <td>@i</td>
            i = i + 0.5;
        }
        </tr>
    </thead>
    <tbody>
        @foreach (var info in Model)
{
    <tr>
        <td>@info.Code</td>
        <td>@info.Name</td>
        <td>@info.Column1</td>
        <td>@info.Column2</td>
        <td>@info.Column3</td>
        <td>@info.Column4</td>
        <td>@info.Column5</td>
        <td>@info.Column6</td>
        <td>@info.Column7</td>
        <td>@info.Column8</td>
        <td>@info.Column9</td>
        <td>@info.Column10</td>
        <td>@info.Column11</td>
        <td>@info.Column12</td>
        <td>@info.Column13</td>
        <td>@info.Column14</td>
        <td>@info.Column15</td>
        <td>@info.Column16</td>
        <td>@info.Column17</td>
        <td>@info.Column18</td>
        <td>@info.Column19</td>
        <td>@info.Column20</td>
        <td>@info.Column21</td>
        <td>@info.Column22</td>
        <td>@info.Column23</td>
        <td>@info.Column24</td>
        <td>@info.Column25</td>
        <td>@info.Column26</td>
        <td>@info.Column27</td>
        <td>@info.Column28</td>
        <td>@info.Column29</td>
        <td>@info.Column30</td>
        <td>@info.Column31</td>
        <td>@info.Column32</td>
        <td>@info.Column33</td>
        <td>@info.Column34</td>
        <td>@info.Column35</td>
        <td>@info.Column36</td>
        <td>@info.Column37</td>
        <td>@info.Column38</td>
        <td>@info.Column39</td>
        <td>@info.Column40</td>
        <td>@info.Column41</td>
        <td>@info.Column42</td>
        <td>@info.Column43</td>
        <td>@info.Column44</td>
        <td>@info.Column45</td>
        <td>@info.Column46</td>
        <td>@info.Column47</td>
        <td>@info.Column48</td>
        <td>@info.Column49</td>
        <td>@info.Column50</td>
        <td>@info.Column51</td>
        <td>@info.Column52</td>
        <td>@info.Column53</td>
        <td>@info.Column54</td>
        <td>@info.Column55</td>
        <td>@info.Column56</td>
        <td>@info.Column57</td>
        <td>@info.Column58</td>
        <td>@info.Column59</td>
        <td>@info.Column60</td>
        <td>@info.Column61</td>
        <td>@info.Column62</td>
        <td>@info.Column63</td>
        <td>@info.Column64</td>
        <td>@info.Column65</td>
        <td>@info.Column66</td>
        <td>@info.Column67</td>
        <td>@info.Column68</td>
        <td>@info.Column69</td>
        <td>@info.Column70</td>
        <td>@info.Column71</td>
        <td>@info.Column72</td>
        <td>@info.Column73</td>
        <td>@info.Column74</td>
        <td>@info.Column75</td>
        <td>@info.Column76</td>
        <td>@info.Column77</td>
        <td>@info.Column78</td>
        <td>@info.Column79</td>
        <td>@info.Column80</td>
        <td>@info.Column81</td>
        <td>@info.Column82</td>
        <td>@info.Column83</td>
        <td>@info.Column84</td>
        <td>@info.Column85</td>
        <td>@info.Column86</td>
        <td>@info.Column87</td>
        <td>@info.Column88</td>
        <td>@info.Column89</td>
        <td>@info.Column90</td>
        <td>@info.Column91</td>
        <td>@info.Column92</td>
        <td>@info.Column93</td>
        <td>@info.Column94</td>
        <td>@info.Column95</td>
        <td>@info.Column96</td>
        <td>@info.Column97</td>
        <td>@info.Column98</td>
        <td>@info.Column99</td>
        <td>@info.Column100</td>
        <td>@info.Column101</td>
        <td>@info.Column102</td>
        <td>@info.Column103</td>
        <td>@info.Column104</td>
        <td>@info.Column105</td>
        <td>@info.Column106</td>
        <td>@info.Column107</td>
        <td>@info.Column108</td>
        <td>@info.Column109</td>
        <td>@info.Column110</td>
        <td>@info.Column111</td>
        <td>@info.Column112</td>
        <td>@info.Column113</td>
        <td>@info.Column114</td>
        <td>@info.Column115</td>
        <td>@info.Column116</td>
        <td>@info.Column117</td>
        <td>@info.Column118</td>
        <td>@info.Column119</td>
        <td>@info.Column120</td>
        <td>@info.Column121</td>
    </tr>
}
               
            </tbody>
        </table>
