@model QuickRMS.Site.Models.Device.HistoryInfo2Model
<div class="widget-box" style=" width: 100%;">

    <div class="widget-content">
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Time) :<label class="nopadding">@Model.Time</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Mode) :<label class="nopadding">@Model.Mode</label></div>


        </div>

        <div class="row show-grid">
            <table id="historyinfo2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>上限</td>
                        <td>下限</td>
                        <td>曲线号</td>
                    </tr>
                </thead>
                <tbody>
               @foreach (var info in Model.HistoryInfo2List)
               {
                   <tr>
                       <td>@info.StartTime</td>
                       <td>@info.EndTime</td>
                       <td>@info.CurveCode</td>
                   </tr>
               }
                </tbody>
            </table>
        </div>
    </div>
</div>  