@model QuickRMS.Site.Models.Device.HistoryInfo0Model
<div class="widget-box" style=" width: 100%;">
  
    <div class="widget-content">
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Type) :<label class="nopadding">@Model.Type</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Time) :<label class="nopadding">@Model.Time</label></div>


        </div>
       
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Out) :<label class="nopadding">@Model.Out</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Sup2) :<label class="nopadding">@Model.Sup2</label></div>


        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Sup1) :<label class="nopadding">@Model.Sup1</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Back2) :<label class="nopadding">@Model.Back2</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Back1) :<label class="nopadding">@Model.Back1</label>
            </div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Fix2) :<label class="nopadding">@Model.Fix2</label>
            </div>


        </div>


        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Fix1) :<label class="nopadding">@Model.Fix1</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.ValveA) :<label class="nopadding">@Model.ValveA</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.ValveB) :<label class="nopadding">@Model.ValveB</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Wire) :<label class="nopadding">@Model.Wire</label></div>


        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.WorkMode) :<label class="nopadding">@Model.WorkMode</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Net1) :<label class="nopadding">@Model.Net1</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">
                @Html.DisplayNameFor(t => t.Net2) :<label class="nopadding">@Model.Net2</label>
            </div>


            <div class="col-lg-6  no-right-padding">
                @Html.DisplayNameFor(t => t.Curve) :<label class="nopadding">@Model.Curve</label>
            </div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Ref1) :<label class="nopadding">@Model.Ref1</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Ref2) :<label class="nopadding">@Model.Ref2</label></div>


        </div>

        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Ref3) :<label class="nopadding">@Model.Ref3</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Ref4) :<label class="nopadding">@Model.Ref4</label></div>


        </div>
        <div class="row show-grid">

            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Ref5) :<label class="nopadding">@Model.Ref5</label></div>


            <div class="col-lg-6  no-right-padding">@Html.DisplayNameFor(t => t.Ref6) :<label class="nopadding">@Model.Ref6</label></div>


        </div>

      
    </div>
</div>


